# Django
DJANGO_SETTINGS_MODULE=config.settings.dev
SECRET_KEY=dev-insecure-key-change-in-prod
DEBUG=true
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DB_NAME=pmketoan
DB_USER=pmketoan
DB_PASSWORD=devpass
DB_HOST=127.0.0.1
DB_PORT=3306
DB_CONN_MAX_AGE=60

# Test DB
TEST_DB_NAME=test_pmketoan
TEST_DB_USER=root
TEST_DB_PASSWORD=

# Email
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend

# Sentry (optional)
SENTRY_DSN=
