# Code owners for Visota ERP

* Default owner for all code
* @pkm2025

# By directory (customize as team grows)
# /apps/ledger/     @accountant
# /apps/hr/         @hr-dev
# /apps/einvoice/   @einv-dev
