[Unit]
Description=Visota Gunicorn
After=network.target mariadb.service

[Service]
Type=notify
User=visota
Group=www-data
WorkingDirectory=/opt/visota/app
EnvironmentFile=/opt/visota/.env
ExecStart=/opt/visota/app/.venv/bin/gunicorn --workers 12 --threads 4 --bind 127.0.0.1:8900 --timeout 120 config.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
